<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app/server.js" verb="*" modules="iisnode" />
    </handlers>
    <!--NODE_ENV picked up from the host server environment variable-->
    <!--iisnode node_env="qa"/-->

    <rewrite>
        <rules>
            <rule name="image">
                <action type="Rewrite" url="app/server.js"/>
            </rule>
        </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough"/>

  </system.webServer>
</configuration>